In [1]:
import pandas as pd
import numpy as np 
import re
import pickle
import random
from tqdm import tqdm

In [3]:
dataset = pd.read_csv(r"C:\Users\user\Desktop\NLP\sample_reuters_dataset.csv")

In [4]:
dataset.head()

   sentence_number                                      sentence_text
0                0  ASIAN EXPORTERS FEAR DAMAGE FROM U . S .- JAPA...
1                1  They told Reuter correspondents in Asian capit...
2                2  But some exporters said that while the conflic...
3                3  The U . S . Has said it will impose 300 mln dl...
4                4  Unofficial Japanese estimates put the impact o...

In [5]:
dataset['sentence_text'][2]

"But some exporters said that while the conflict would hurt them in the long - run , in the short - term Tokyo ' s loss might be their gain ."

In [15]:
dataset.drop('sentence_number', axis=1, inplace=True)

In [16]:
dataset.head()

                                       sentence_text
0  ASIAN EXPORTERS FEAR DAMAGE FROM U . S .- JAPA...
1  They told Reuter correspondents in Asian capit...
2  But some exporters said that while the conflic...
3  The U . S . Has said it will impose 300 mln dl...
4  Unofficial Japanese estimates put the impact o...

In [34]:
def clean_text(sentence):
    sentence = re.sub(r'\b([A-Z])\.', r'\1', sentence)
    sentence = re.sub("[.]", '', sentence)
    sentence = re.sub("[-]", '', sentence)
    sentence = re.sub("[_]", '', sentence)
    sentence = re.sub("[^a-zA-Z\s]", ' ', sentence)
    sentence = re.sub(r'\s+', ' ', sentence)
    sentence = sentence.lower()
    return sentence.strip()


dataset["clean_sentence"] = dataset['sentence_text'].apply(clean_text)

In [35]:
dataset

,sentence_text,clean_sentence
0,ASIAN EXPORTERS FEAR DAMAGE FROM U . S .- JAPA...,asian exporters fear damage from u s japan rif...
1,They told Reuter correspondents in Asian capit...,they told reuter correspondents in asian capit...
2,But some exporters said that while the conflic...,but some exporters said that while the conflic...
3,The U . S . Has said it will impose 300 mln dl...,the u s has said it will impose mln dlrs of ta...
4,Unofficial Japanese estimates put the impact o...,unofficial japanese estimates put the impact o...
...,...,...
9995,"In addition , British Printing and Communicati...",in addition british printing and communication...
9996,Salomon said in a filing with the Securities a...,salomon said in a filing with the securities a...
9997,If the court decides they should be converted ...,if the court decides they should be converted ...
9998,Harcourt is asking the court to rule the compa...,harcourt is asking the court to rule the compa...
9999,An increase in Reed shares in London today was...,an increase in reed shares in london today was...